body {
    margin: 0;
}
.header--naviline {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.header--logo {
    margin: 29px 0 0 130px;
}
.header--nav {
    text-transform: uppercase;
    align-self: flex-end;
    padding: 19px 110px 19px 0;
}
.header--logo--list {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 473px;
    font-size: 16px;
    color: #79818d;
}
.header--logo--list__link{ 
    display: inline-block;
}
.header--background {
    background-image: url(img/header-backgorund.png);
    background-size: cover;
    height: 843px;
}
.header--signup {
    padding: 186px 0 0 0;
    margin: 0 0 0 160px;
    width: 510px;
}
.header--signup--h1 {
    text-transform: uppercase;
    line-height: 1.40;
    font-size: 51px;
    color: white;
}
.header--signup--p1 {
    font-size: 25px;
    color: white;
}
.header--signup--form {
    padding: 25px 0 0 5px;
}
.header--signup--form--label {
    font-size: 19px;
    color: white;  
}
.header--signup--form--label--highlight {
    text-transform: uppercase;
    background-color:#ffce54;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 6px 7px;
    border-radius: 4px;
}
.header--signup--form--sendemailarea {
    display: flex;
    width: 570px;
    justify-content: space-between;
    margin: 35px 0 0 0;
}
.header--signup--form--input {
    width: 378px;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 19px 18px 25px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #bec2c8;
}
.header--signup--form--button {
    text-transform: uppercase;
    background-color: #77c344;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    padding: 19px 25px 19px 25px;
}